@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #132A36;
  --primary-hover-color: #132A36;
  --dark-color: #132A36;
  --secondary-color: #0c2e42;
  --light-color: #C7E3F3;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}